@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.navigation {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 24px 12px;

  box-sizing: border-box;
  overflow: auto;
  border-radius: 28px;

  background-color: #ffffff1a;

  width: 280px;
  height: 100%;
}

.navigation__item {
  display: flex;
  align-items: center;

  gap: 12px;
  height: 36px;
  border-radius: 24px;
  padding-inline: 12px;

  color: white;

  cursor: pointer;
}

.navigation__item:first-of-type {
  background-color: #dcfe09;
  color: black;
}

.navigation__item:last-of-type {
  margin-top: auto;
}
